
@font-face {
  font-family: 'big_river_sampleregular';
  src: url('/font/big_river_sample/big_river_sample-webfont.woff2') format('woff2'),
       url('/font/big_river_sample/big_river_sample-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'big_river_script_sampleRg';
  src: url('/font/big_river_sample/big_river_script_sample-webfont.woff2') format('woff2'),
       url('/font/big_river_sample/big_river_script_sample-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'meticularegular';
  src: url('/font/font02/meticula-webfont.woff2') format('woff2'),
       url('/font/font02/meticula-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
 @font-face {
  font-family: 'quickregular';
  src: url('/font/quick\ regular/quick1-webfont.woff2') format('woff2'),
       url('/font/quick\ regular/quick1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

body{



}


* {
    margin:0;
    padding:0;
    }

body{
  /* font-family: 'big_river_sampleregular'; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vw;
  min-width: 100vh;
  margin: 0;
  line-height: 100%;
  text-align: center;
}

  /* -------------------------------------- DEBUT ZONE NAV-BARRE ------------------------- */
  .navbar{
    width: 100%;
    margin : 0px;
    padding: 0px;
    z-index: 20;
}

.menu{
    margin-top: 0px;
    padding:5px 20px 5px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    height: auto;
    list-style-type: none;
    font-size: 15px;
    text-align:center;
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(43,43,43,1) 73%, rgba(96,95,95,1) 100%);    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.menu, li{
    flex-grow: 1;
}

.bouton{
    background-color:rgba(221, 185, 84, 0.678);
    color: white;
    width: 10em;
    text-align: center;

    border-radius:10px;
    padding: 5px 10px 5px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 0.2s ease-in-out;
}

  .bouton:hover {
    transform: translateY(-5px);
  }

  .bouton:active {
    transform: translateY(2px);
  }

  /* -------------------------------------- FIN ZONE NAV-BARRE ----------------------------- */
  /* -------------------------------------- DEBUT ZONE HOME ----------------------------- */

.p1 {
    /* background: linear-gradient(to bottom, black, white); */
    background-image: url(img/background/vecorielle/vecto\ black\ test\ 02.jpg);
    background-size:100%;
    height: 100vh;
    display: flex;
    justify-content:space-between;
    align-items:center;

  }

  .photo-profil {
    opacity: 0.5;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
  }

  .mef-id {
    background-color: rgba(221, 185, 84, 0.678);
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    box-shadow: rgba(141, 112, 16, 0.56) 0px 22px 70px 4px;
    border-radius: 0px 100px 100px 0px;
  }

  .group-titre {
    margin-bottom: 0;
    text-align: center;
    padding: 5% 0% 5% 0%;
    color: rgb(255, 255, 255);
    width: 70%;
  }

.group-titre>h1{
    /* font-family: 'Kalam', cursive; */
    font-size: 60px;
    margin-bottom: 30px;
}

.group-titre>p{
    font-size: 30px;
    margin-bottom: 20px;
    border-top: 3px solid white;
    padding: 10px;
    width: 100%;


}
@media screen and (max-width: 768px) {
  .p1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photo-profil {
    position: static;
    width: 50%;
    margin-bottom: 20px;
  }

  .mef-id {
    width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

  /* ----------------------------------- FIN ZONE HOME ---------------------------- */
  /* ----------------------------- DEBUT ZONE A PROPO DE MOI ---------------------------- */

  .p2{
    background-image:url(img/background/vecorielle/19939933_6203790.jpg) ;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.titre-p2{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.titre-p2>img{
    opacity: 1;
    width: 60%;
    object-fit: cover;
    align-self: center;
    box-shadow: 0px 0px 30px #FFD700;
    border: 3px solid white;
    border-radius: 20px;
    background-image: url(img/background/vecorielle/light-background.jpg);
    background-size: 100%;
}

.text-p2{
    padding: 15px 30px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #232526 0%, #414345 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 30px 10px 30px;
    text-align:justify;
    width: 60%;
    height: 30%;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #FFD700;
    color: white;
}

.text-p2>h1{
    text-align: center;
}
  /* ------------------------------- FIN ZONE A PROPO DE MOI ---------------------------- */
  /* -------------------------------- DEBUT ZONE PQUOI MOI ---------------------------- */

.P-moi{
    background-image:url(img/background/vecorielle/19939933_6203790.jpg) ;
    background-size: 100%;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
}

 .titre-pm{
    padding: 0px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #232526 0%, #414345 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 200px 30px 10px 30px;
    text-align:center;
    width: 65%;
    height: 10%;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #FFD700;
    color: white;
}

.text-p-moi{
  /* padding: 15px 30px; */
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #232526 0%, #414345 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
  margin: 10px 30px 200px 30px;
  text-align:justify;
  width: 60%;
  height: 40%;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 30px #FFD700;
  color: white;
  font-size: larger;
}

.text-p-moi>ul{
  width: 80%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items:first baseline;
}

.text-p-moi>ul{
  /* list-style-type: none; */
}

  /* ----------------------------------- FIN ZONE POURQUOI MOI ---------------------------- */
  /* ----------------------------------- DEBUT ZONE PARCOUR PRO ---------------------------- */

.p3{
  padding: 30;
  margin: 0px;
  min-height: 100vh;
  min-width: 100vh;
  background-image: url(img/background/vecorielle/copi\ fond.jpg);
  background-size: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.PARCOUR-PRO-TITRE{
padding: 0px;
margin-bottom: 20px;
margin-top: 50px;
background-color: #D9AFD9;
background-image: linear-gradient(0deg, #232526 0%, #414345 100%);
display: flex;
justify-content: center;
flex-direction: column;
text-align:center;
width: 65%;
height: 5vh;
border: 3px solid white;
border-radius: 20px;
box-shadow: 0px 0px 30px #FFD700;
color: white;
}

.section-p2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1em;
  color: white;width: 60vh;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 5%;
}

.bloc-cv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.date{
  margin: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid gold;
  border-left: 3px solid gold;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 0px 10px rgba(255, 217, 0, 0.432);
}

.experiance{
  width: 70%;
  margin: 5px;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0px 0px 10px rgba(255, 217, 0, 0.432);
}

.experiance>h2{
  font-size: 23px;
  margin: 5px;
  padding-bottom: 5px;
  line-height: 1em;
}

/* ---------------------------------------- FIN ZONE PARCOUR PRO ---------------------------- */
/* --------------------------------------- DEBUT ZONE FORMATION ---------------------------- */




.formation{
  margin: 0px;
  height: 100vh;
  width: 100%;
  background-image: url(img/background/vecorielle/copi\ fond.jpg);
  background-size: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contenu-formation{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.FORMATION-TEXT{
  padding: 0px;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #232526 0%, #414345 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0px 10px 0px;
  text-align:center;
  width: 65%;
  height: 10%;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 30px #FFD700;
  color: white;
}

.contenu-p4{
  width: 60%;
  height: 80%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  padding-top: 100px;
}

.bloc-form{
  border: 2px solid rgba(255, 255, 255, 0.74);
  width: 20%;
  height: 25%;
  margin: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color: white;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #232526 0%, #414345 100%);
  border-radius: 20px;
  box-shadow: 0px 0px 10px ;
  padding: 5px;
}

.bloc-form>h1{
  margin-bottom: 20px;
  height: 10%;
  font-size: 1em;
}

.bloc-form>img{
  width: 40%;
  margin-top: auto;
}

.bloc-form>p{
  margin-top: auto;
  padding: 0;
  height: auto;
  text-align:justify;
}


/* ---------------------------------------- FIN ZONE FORMATION ---------------------------- */
/* --------------------------------------- DEBUT ZONE CONTACT ---------------------------- */

.contact{
  padding: 20px;
  background: rgb(20,20,23);
  background: linear-gradient(138deg, rgba(20,20,23,1) 17%, rgba(95,95,98,1) 49%, rgba(20,20,23,1) 76%);
  display: flex;
}

.contact-contenu{
  width: 50%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin: 40px 10px 0px 0px;
}

.contact-bloc-01{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;

}

.contact-bloc-01>img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
              rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contact-bloc-01>h1{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 10px black;}

.mon-id{
  height: 20%;
  display: flex;
  justify-content:center;
  flex-direction: row ;
  align-items: center;
}

.mon-id-01{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px 10px;
  justify-content:center;
  flex-direction: column ;
  align-items: center;
  line-height: 20px;
  border-radius: 10px;
  box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px, 
  rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.mon-id-01>h3{
  margin-right: 10px;
}

.contact-contenu>h2{
  height: 20%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
              rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
}

.bloc-contact-lien{
  display: flex;
  height: 100%;
  align-items: center;
  margin-bottom: 10%;
}

.contenu-lien{
  width: 100%;
  height: 50%;
  border-radius: 20px;
  /* margin-top: 20%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  background-color: rgba(255, 255, 255, 0.151);
}

.bloc-lien{
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 100px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bloc-lien>a>img{
  border-radius: 50px;
  width: 80%;
}


.bloc-lien:hover{
  box-shadow:
   rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
   rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
   rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.bloc-lien:active{
  box-shadow:
  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

img{
  width:70%;
}

.contact-img-pd{
  background-size: 100v;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-img-pd>img{
  width: 100%;
  height: 80vh;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 20px;
  object-fit: cover;
  opacity: 0.3;
  /* margin: 40px 0px 0px 10px; */
}


/* ---------------------------------------- fin ZONE CONTACT ---------------------------- */


